<html>
<head>
{% load staticfiles %}
  </head>
<body>
<div name="header" style="background-color:gray;font-size:18px;margin:5px;padding:15px;">
<b>salam </b>&nbsp    <img src="{% static 'logo.png' %}" width="40px";>
<div style="float:right;">

{% if user.is_authenticated %}
<a href="javascript:{document.getElementById('logout').submit()}">logout</a>
<form id="logout" method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <input type="hidden" />
</form>
{% else %}
<a href="{% url 'login' %}">Log in</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<a href="{% url 'signup' %}">sign up</a>
{% endif %}
</div>
</div>

salam     header
<br>
{% block content %}

{% endblock %}

<br>
<div  name="footer" style="background-color:green">
footer
</div>
</body>
</html>
